<div class="container-fluid g-0">
  <div class="row">
    <div class="col min-vh-100" id="member-sidebar">
      <div class="row profile-spacer">
        <div class="col-3 text-center">
          <div class="avatar-wrapper">
              <p-avatar styleClass="avatarStyle" label="A" size="large" shape="circle">
              </p-avatar>
            <div class="activity-icon online"></div>
          </div>
        </div>
        <div class="col-9 user-profile">
          <div class="username">Angel</div>
          <div class="motto">"LBi Software"</div>
        </div>
      </div>
      <div class="row profile-spacer">
        <div class="col-3 text-center">
          <div class="avatar-wrapper">
            <p-avatar styleClass="avatarStyle" label="B" size="large" shape="circle">
            </p-avatar>
            <div class="activity-icon offline"></div>
          </div>
        </div>
        <div class="col-9 user-profile">
          <div class="username">Badger</div>
          <div class="motto">"LBi Software"</div>
        </div>
      </div>
    </div>
  </div>
</div>
