#member-sidebar {
  background-color: #2b2d32;
}
div.profile-spacer {
  margin: 20px 0 20px 0;
}
.avatar-wrapper {
  position: relative;
  display: inline-block;
}
.activity-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid #2b2d32; /* Add a border for better visibility */
}
.activity-icon.online {
  background-color: #4ea25e; /* Set the background color to match your design */
}
.activity-icon.offline {
  background-color: #80838e; /* Set the background color to match your design */
}
div.user-profile {}
div.username {
  color: #F1F1F1;
}
div.motto {
  color: #949aa4;
}
