<div class="channel-sidebar-container" [class.internal-resizing]="isInternalResizing">
  <!-- Server List (Left Section) -->
  <div class="server-list-section" [style.width.%]="serverListWidth()">
    <sidebar (selectedServerChange)="selectedServerChange.emit($event)"></sidebar>
  </div>

  <!-- Internal Resize Handle -->
  <div
    class="internal-resize-handle"
    (mousedown)="startInternalResizing($event)"
  ></div>

  <!-- Channel List (Right Section) -->
  <div class="channel-list-section" [style.width.%]="channelListWidth()">
    <div class="channel-list-header">
      <h6 class="server-name">Server Name</h6>
    </div>
    <div class="channel-list-content">
      @for (category of categories(); track category) {
        <div class="category-section">
          <div class="category-name">
            {{ category.categoryName }}
          </div>
          @for (chan of category.channels; track chan) {
            <div
              class="channel-item"
              (click)="handleChannelSelect(chan)"
              [ngClass]="{'active': selectedChannel() == chan}"
            >
              # {{ chan.channelName }}
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
