<div class="container-fluid sidebar-container g-0">
  <div class="row">
    <div class="col-4">
      <sidebar (selectedServerChange)="selectedServerChange.emit($event)"></sidebar>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col min-vh-100" id="serverChannels">
          @for (category of categories(); track category) {
            <div class="row">
              <div
                class="col-12 category-name"
              >
                {{ category.categoryName }}
              </div>
              @for (chan of category.channels; track chan) {
                <div class="col-12 channel-name">
                  {{ chan.channelName }}
                </div>
              }
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
