<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <!-- Angcord Header -->
      </div>
      <div class="row">
        <div class="col-3">
          <!-- Channel Sidebar -->
          <channel-sidebar (selectedServerChange)="handleServerChange($event)"></channel-sidebar>
        </div>
        <div class="col-6 g-0">
          <!-- Angcord Content -->
          <angcord-content [serverId]="selectedServer() ? selectedServer().serverId : ''"></angcord-content>
        </div>
        <div class="col-3">
          <!-- Roles Sidebar -->
          <member-sidebar></member-sidebar>
        </div>
      </div>
    </div>
  </div>
</div>
